h1, h2{
    font-family: Orbitron;
    font-size: 28px;
}
header, footer{
    background-color: #113;
}
a:hover{
    color: red;
}

* {
    font-family: Open Sans;
    color: white;
    font-size: 15px;
}

.SectionOne, .SectionThree{
    background-color: rgb(19, 4, 51);
}

.SectionTwo, .SectionFour{
    background-color: #001f3f
}

.SectionFour{
    text-align: center;
    list-style-position: inside;
}
.SectionTwo div {
    text-align: right;
}

h1{
    color: #00b4ff;
}

h2, h3, figcaption{
    color: #f0f;
    opacity: 0.8;
}

body{
    background-color: black;
}

h3{
    font-size: 22px;
}
